@{
    ViewData["Title"] = "Index Verbali";
}

<div class="container">
    <h1>Index Verbali</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID Verbale</th>
                <th scope="col">ID Anagrafica</th>
                <th scope="col">Descrizione Violazione</th>
                <th scope="col">Data Violazione</th>
                <th scope="col">Indirizzo Violazione</th>
                <th scope="col">ID Agente</th>
                <th scope="col">Data Trascrizione Verbale</th>
                <th scope="col">Importo</th>
                <th scope="col">Decurtamento Punti</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var verbale in Model)
            {
                <tr>
                   <th scope="row">@verbale.IdVerbale</th>
                    <td>@verbale.IdAnagrafica</td>
                    <td>@verbale.DescViolazione</td>
                    <td>@verbale.DataViolazione</td>
                    <td>@verbale.IndirizzoViolazione</td>
                    <td>@verbale.IdAgente</td>
                    <td>@verbale.DataTrascrVerbale</td>
                    <td>@verbale.Importo</td>
                    <td>@verbale.DecurtamentoPunti</td> 
                </tr>
            }
        </tbody>
    </table>
</div>